@model CandyListViewModel
    
<h1>@Model.CurrentCategory</h1>
@foreach (var item in Model.Candies)
{

    <div class="col-sm-4 col-md-4 col-lg-4">

        <div class="thumbnail">
            <img src="@item.ImageThumbnailURL" alt="image"/>
            <div class="caption">
                <h3>@item.Name</h3>
                <h3 class="pull-right">@item.Price.ToString("c")</h3>
                <p>@item.Description</p>
            </div>
        </div>

    </div>
}